src/main/resources/wsdlexterno/IAmericanAirlines.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.IAmericanAirlines.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.IAmericanAirlines.com/" name="ServicioWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.IAmericanAirlines.com/" schemaLocation="http://localhost:7002/IAmericanAirlines?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="ConsultarReserva">
<part name="parameters" element="tns:ConsultarReserva"></part>
</message>
<message name="ConsultarReservaResponse">
<part name="parameters" element="tns:ConsultarReservaResponse"></part>
</message>
<message name="RealizarReserva">
<part name="parameters" element="tns:RealizarReserva"></part>
</message>
<message name="RealizarReservaResponse">
<part name="parameters" element="tns:RealizarReservaResponse"></part>
</message>
<message name="CancelarReserva">
<part name="parameters" element="tns:CancelarReserva"></part>
</message>
<message name="CancelarReservaResponse">
<part name="parameters" element="tns:CancelarReservaResponse"></part>
</message>
<portType name="IAmericanAirlines">
<operation name="ConsultarReserva">
<input wsam:Action="consultarReserva" message="tns:ConsultarReserva"></input>
<output wsam:Action="http://services.IAmericanAirlines.com/IAmericanAirlines/ConsultarReservaResponse" message="tns:ConsultarReservaResponse"></output>
</operation>
<operation name="RealizarReserva">
<input wsam:Action="realizarReserva" message="tns:RealizarReserva"></input>
<output wsam:Action="http://services.IAmericanAirlines.com/IAmericanAirlines/RealizarReservaResponse" message="tns:RealizarReservaResponse"></output>
</operation>
<operation name="CancelarReserva">
<input wsam:Action="cancelarReserva" message="tns:CancelarReserva"></input>
<output wsam:Action="http://services.IAmericanAirlines.com/IAmericanAirlines/CancelarReservaResponse" message="tns:CancelarReservaResponse"></output>
</operation>
</portType>
<binding name="IAmericanAirlinesPortBinding" type="tns:IAmericanAirlines">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="ConsultarReserva">
<soap:operation soapAction="consultarReserva"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="RealizarReserva">
<soap:operation soapAction="realizarReserva"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CancelarReserva">
<soap:operation soapAction="cancelarReserva"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ServicioWebService">
<port name="IAmericanAirlinesPort" binding="tns:IAmericanAirlinesPortBinding">
<soap:address location="http://localhost:7002/IAmericanAirlines"></soap:address>
</port>
</service>
</definitions>